.perfil-container {

  .perfil-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;

    .logo {
      max-width: 80px;
    }

    .perfil-nav {
      display: flex;
      gap: 2rem;

      a {
        text-decoration: none;
        font-size: 1rem;
        color: #333;
      }
    }
  }

  .perfil-content {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    flex: 1;
    

    .perfil-info {
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: #fff;
      padding: 1rem;
      border-radius: 1px;
      gap: 20px;
      width: 100%;
      justify-content: space-evenly;

      .perfil-foto {
        border-radius: 50%;
        overflow: hidden;
        width: 150px;
        height: 150px;
        margin-bottom: 1.5rem;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .hogar-foto{
        width: 600px;
        height: 300px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .perfil-detalles{
        width: 500px;
        gap: 20px;
      }
    }
  }
}