<!-- perfil-encargado.component.html -->
<div class="perfil-container" *ngIf="encargado">
  <div class="perfil-header">
    <img src="imgs/hopematch-logo.png" [alt]="texts.messageLogo" class="logo">
    <nav class="perfil-nav">
      <a *ngIf="mostrarBotonEditar" (click)="VolverAHome()" style="color: #e65c4f; cursor: pointer;">{{texts.volverHome}}</a>
      <a *ngIf="mostrarBotonEditar" (click)="cerrarSesion()" style="color: #e65c4f; cursor: pointer;">{{texts.buttonCerrarSesion}}</a>
      <a *ngIf="!mostrarBotonEditar" (click)="VolverAHomeAdmin()" style="color: #3f51b5; cursor: pointer;">{{texts.volverAGestion}}</a>
    </nav>
  </div>

  <div class="perfil-content">
    <div class="perfil-info">
      <div class="hogar-foto">
        <img [src]="encargado.foto_hogar" [alt]="texts.altFotoHogar" />
      </div>
      <div class="perfil-foto">
        <img [src]="encargado.foto" [alt]="texts.altFotoEncargado" />
      </div>
      <div class="perfil-detalles">
        <h2 *ngIf="mostrarBotonEditar" style="color: #e65c4f;">{{texts.miPerfilTitulo}}</h2>
        <h2 *ngIf="!mostrarBotonEditar" style="color: #3f51b5;">{{texts.perfilEncargadoTitulo}}</h2>
        <h3>{{ encargado.nombre }}</h3>
        <p><strong>{{texts.inputEditEmail}}:</strong> {{ encargado.email }}</p>
        <p><strong>{{texts.inputEditPhone}}:</strong> {{ encargado.celular }}</p>
        <p><strong>{{texts.inputHogarName}}:</strong> {{ encargado.nombre_hogar }}</p>
        <p><strong>{{texts.inputDireccion}}:</strong> {{ encargado.direccion_hogar }}</p>
        <p><strong>{{texts.estadoHogarLabel}}:</strong> {{encargado.estado}}</p>
        <p><strong>{{texts.inputDescripcion}}:</strong> {{encargado.descripcion}}</p>
        <p><strong>{{texts.cantidadNinosLabel}}:</strong> {{ encargado.ninos?.length || 0 }}</p>
        <button *ngIf="mostrarBotonEditar" class="btn-editar" (click)="irEditarPerfil()">{{texts.editarDatos}}</button>
        <button *ngIf="mostrarBotonEditar" class="btn-editar" (click)="irNinos()">{{texts.verNinosLabel}}</button>
      </div>
    </div>
  </div>

  <div *ngIf="!mostrarBotonEditar" class="ninos-del-hogar">
    <h2 *ngIf="!mostrarBotonEditar" style="color: #3f51b5; align-self: center;">{{texts.ninosHogar}}</h2>
      <div *ngIf="encargado?.ninos?.length > 0; else noNinos">
        <div class="ninos-container">
          <div class="nino-card" *ngFor="let nino of encargado.ninos">
            <div class="nino-detalles">
              <h4>{{ nino.nombre }}</h4>
              <div><strong>{{texts.campoCI}}:</strong> {{ nino.ci }}</div>
              <div><strong>{{texts.fechaNacimiento}}:</strong> {{ nino.fechaNacimiento }}</div>
              <div>
                <strong>{{texts.necesidades}}:</strong>
                <ul>
                  <li *ngFor="let necesidad of nino.necesidades">{{ necesidad }}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <ng-template #noNinos>
        <p>{{texts.noNinos}}</p>
      </ng-template>
  </div>
</div>

<div *ngIf="!encargado">
  <p>{{texts.cargandoDatos}}</p>
</div>