<!-- perfil-encargado.component.html -->
<div class="perfil-container" *ngIf="encargado">
  <div class="perfil-header">
    <img src="imgs/hopematch-logo.png" alt="HopeMatch Logo" class="logo">
    <nav class="perfil-nav">
      <a *ngIf="mostrarBotonEditar" (click)="VolverAHome()" style="color: #e65c4f; cursor: pointer;">Volver a Home</a>
      <a (click)="cerrarSesion()" style="color: #e65c4f; cursor: pointer;">Cerrar Sesión</a>
    </nav>
  </div>

  <div class="perfil-content">
    <div class="perfil-info">
      <div class="hogar-foto">
        <img [src]="encargado.foto_hogar" alt="Foto del Hogar" />
      </div>
      <div class="perfil-foto">
        <img [src]="encargado.foto" alt="Foto del Encargado" />
      </div>
      <div class="perfil-detalles">
        <h2 style="color: #e65c4f;">Perfil</h2>
        <h3>{{ encargado.nombre }}</h3>
        <p><strong>E-mail:</strong> {{ encargado.email }}</p>
        <p><strong>Celular:</strong> {{ encargado.celular }}</p>
        <p><strong>Nombre del Hogar:</strong> {{ encargado.nombre_hogar }}</p>
        <p><strong>Direccion del Hogar:</strong> {{ encargado.direccion_hogar }}</p>
        <p><strong>Estado del Hogar:</strong> {{encargado.estado}}</p>
        <p><strong>Descripción del Hogar:</strong> {{encargado.descripcion}}</p>
        <p><strong>Cantidad de niños:</strong> {{ encargado.ninos?.length || 0 }}</p>
        <button *ngIf="mostrarBotonEditar" class="btn-editar" (click)="irEditarPerfil()">Editar Datos</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!encargado">
  <p>Cargando datos...</p>
</div>