
<form (ngSubmit)="updatePadrino()" class="dialog--form">
    <h2>{{texts.editarPadrinoTitulo}}</h2>
    <div class="input-group">
        <label>{{texts.inputEditName}}</label>
        <input type="text" [(ngModel)]="padrino.nombre" name="nombre" class="input-field" required>
    </div>

    <div class="input-group">
        <label>{{texts.inputEditPhone}}</label>
        <input type="text" [(ngModel)]="padrino.celular" name="celular" placeholder="+### ####" class="input-field" required>
    </div>

    <div class="input-group">
        <label>{{texts.inputEditEmail}}</label>
        <input type="email" [(ngModel)]="padrino.email" name="email" class="input-field" disabled>
    </div>

    <div class="input-group">
        <label>{{texts.inputEditLabelPhoto}}</label>
        <input type="text" [(ngModel)]="padrino.foto" name="foto" class="input-field">
    </div>

    <label>{{texts.editarAdministradorLabelContrasenia}}</label>
    <div class="input-group input-group--icon-right">
        <input [type]="mostrarContrasenia ? 'text' : 'password'"
                [(ngModel)]="nuevaContrasenia"
                name="nuevaContrasenia"
                [placeholder]="texts.editarAdministradorPlaceholderContrasenia"
                style="width: 100%; padding-right: 2.5rem;">
        <button type="button"
                (click)="mostrarContrasenia = !mostrarContrasenia"
                style="position: absolute; right: 0.5rem; top: 50%; transform: translateY(-50%);
                        border: none; background: transparent; cursor: pointer; font-size: 1rem;">
            <img *ngIf="!mostrarContrasenia" src="imgs/noview_icon.png" alt="Mostrar" style="width: 20px; height: 20px;">
            <img *ngIf="mostrarContrasenia" src="imgs/view_icon.png" alt="Ocultar" style="width: 20px; height: 20px;">
        </button>
    </div>

    <button type="submit" class="btn btn--primary-button">{{texts.guardar}}</button>
    
    <button type="button" class="btn btn--secondary-button" (click)="eliminarPadrino()">{{texts.eliminarCuenta}}</button>

    <button type="button" class="btn btn--cancel-button" (click)="cancelarEdicion()">{{texts.cancelar}}</button>
</form>
