<div class="gestion-ninos-container">
    <div class="home-admin-header">
      <img src="imgs/hopematch-logo.png" alt="HopeMatch Logo" class="logo" />
      <nav class="admin-nav">
        <a (click)="volverAHome()" style="color: #3f51b5; cursor: pointer;">Volver a Home</a>
        <a (click)="cerrarSesion()" style="color: #3f51b5; cursor: pointer;">Cerrar Sesión</a>
      </nav>
    </div>
  
    <div class="saludo">
      <h2>{{ texts.saludoNinosRegistrados }}</h2>
    </div>
  
    <div class="ninos-container">
      <div class="nino-card" *ngFor="let nino of todosLosNinos">
        <div class="nino-detalles">
          <h4>{{ nino.nombre }}</h4>
          <div><strong>{{ texts.campoCI }}</strong> {{ nino.ci }}</div>
          <div><strong>{{ texts.fechaNacimiento }}</strong> {{ nino.fechaNacimiento }}</div>
          <div><strong>{{ texts.inputHogarName }}</strong> {{ nino.nombreHogar }}</div>
          <div><strong>{{ texts.detalleHogarEncargado }}</strong> {{ nino.nombreEncargado }}</div>
          <div>
            <strong>{{ texts.necesidades }}</strong>
            <ul>
              <li *ngFor="let necesidad of nino.necesidades">{{ necesidad }}</li>
            </ul>
          </div>
          <button class="btn-eliminar-nino" (click)="eliminarNino(nino.id)">
            <i class="fas fa-trash-alt"></i> {{ texts.eliminar }}
          </button>
        </div>
      </div>
    </div>
  </div>