<header *ngIf="encargado">
    <nav class="navbar">
        <div class="navbar__container">
            <div class="navbar__brand">
                <a href="/"><img src="imgs/logo light variant.png" [alt]="texts.messageLogo" class="logo"></a>
            </div>
            <div class="navbar__links">
                <button class="btn btn--third-button" (click)="irAdministradores()"> {{texts.buttonSoporte}}</button>
                <img [src]="encargado.foto" 
                    alt="Foto del Encargado" 
                    class="admin-foto" />
                <button class="btn btn--third-button" (click)="irPerfil()"> {{ texts.buttonPerfil }} </button>
                <button class="btn btn--third-button" (click)="cerrarSesion()"> {{ texts.buttonSignOut }} </button>
            </div>
        </div>
    </nav>
</header>
<section class="full-layout-section home-encargado" *ngIf="encargado">
    <div class="grettings-text">
        <h2>¡Hola {{ encargado.nombre }}!</h2>
        <h5>¿Qué deseas hacer hoy?</h5>
    </div>
    <div class="field--grid">
        <div (click)="irHogar()" class="card--selectable">
            <div class="icono">
                <img src="imgs/house-icon.png" alt="Mi Hogar">
            </div>
            <div class="contenido">
                <h3>Mi Hogar</h3>
                <p>Administra y edita tu hogar</p>
            </div>
            <div class="imagen">
                <img src="imgs/hogar-m.jpg" alt="Hogar">
            </div>
        </div>

        <div (click)="irNinos()" class="card--selectable">
            <div class="icono">
                <img src="imgs/sun-icon.png" alt="Mis Niños">
            </div>
            <div class="contenido">
                <h3>Mis Niños</h3>
                <p>Gestiona y visualiza los niños a tu cargo</p>
            </div>
            <div class="imagen">
                <img src="imgs/kids.webp" alt="Kids">
            </div>
        </div>

        <div class="card--selectable">
            <div class="icono">
                <img src="imgs/agenda-icon.png" alt="Agenda y Contacto">
            </div>
            <div class="contenido">
                <h3>Agenda y Contacto</h3>
                <p>Habla con los padrinos de tu hogar y gestiona actividades programadas</p>
            </div>
            <div class="imagen">
                <img src="imgs/contact.jpg" alt="Contacto">
            </div>
        </div>

        <div (click)="irDonaciones()" class="card--selectable">
            <div class="icono">
                <img src="imgs/heart-icon.png" alt="Donaciones">
            </div>
            <div class="contenido">
                <h3>Donaciones</h3>
                <p>Administra y publica contenido relacionado a las donaciones recibidas</p>
            </div>
            <div class="imagen">
                <img src="imgs/donacionees.jpg" alt="Donation">
            </div>
        </div>
    </div>
</section>

<footer class="footer">
    <div id="footer-content" class="footer__vertical_container">
        <div class="footer__horizontal_container">
            <div class="footer__brand">
                <a href="/"><img src="imgs/logo light.png" [alt]="texts.messageLogo" class="logo"></a>
            </div>
            <div class="footer__contact-info">
                <div>
                    <p><b>Telefono</b></p>
                    <p>(123) 45678</p>
                </div>
                <div>
                    <p><b>Email</b></p>
                    <p>hopematch&#64;email.com</p>
                </div>
            </div>
        </div>
        <hr />
        <div class="footer__social_container">
            <div class="social-links">
                <button class="btn btn--third-button"> {{ texts.facebook }} </button>
                <button class="btn btn--third-button"> {{ texts.instragram }} </button>
                <button class="btn btn--third-button"> {{ texts.twitter }} </button>
            </div>
        </div>
    </div>
</footer>