<div class="container">
    <h2 style="color: #e65c4f;">{{ texts.registrarNino }}</h2>
  
    <form [formGroup]="ninoForm" (ngSubmit)="onSubmit()">
      <label for="ci">{{ texts.campoCI }}</label>
      <input id="ci" type="text" formControlName="ci" required>
  
      <label for="nombre">{{ texts.inputName }}</label>
      <input id="nombre" type="text" formControlName="nombre" required>
  
      <label for="fechaNacimiento">{{ texts.fechaNacimiento }}</label>
      <input id="fechaNacimiento" type="date" formControlName="fechaNacimiento" required>
  
      <label for="necesidad">{{ texts.necesidades }}</label>
      <div class="necesidades">
        <input id="necesidad" type="text" #necesidadInput>
        <button type="button" (click)="addNecesidad(necesidadInput)">{{texts.agregar}}</button>
      </div>

      <ul>
        <li *ngFor="let necesidad of necesidadesArray.controls; let i = index">
          {{ necesidad.value }}
          <button type="button" (click)="removeNecesidad(i)">X</button>
        </li>
      </ul>
  
      <button type="submit" [disabled]="ninoForm.invalid">{{ texts.registrarNino }}</button>

      <button type="button" class="btn btn--cancel-button" (click)="cancelarRegistro()">{{texts.cancelar}}</button>
    </form>
  </div>