<div class="container">
    <h2>{{texts.editarNinoTitulo}}</h2>
    <form (ngSubmit)="updateNino()">
      <label>{{texts.campoCI}}</label>
      <input type="text" [(ngModel)]="nino.ci" name="ci" required>
      <label>{{texts.inputEditName}}</label>
      <input type="text" [(ngModel)]="nino.nombre" name="nombre" required>
  
      <label>{{texts.fechaNacimiento}}</label>
      <input type="date" [(ngModel)]="nino.fechaNacimiento" name="fechaNacimiento" required>
 
      <label>{{texts.necesidades}}</label>
      
       <div class="input-container">
        <input type="text" [(ngModel)]="nuevaNecesidad" name="nuevaNecesidad" placeholder="Añadir necesidad">
        <button type="button" (click)="agregarNecesidad()">➕</button>
    </div>

     <div class="necesidades-lista">
        <div *ngFor="let necesidad of nino.necesidades; let i = index" class="necesidad-item">
            {{ necesidad }}
            <button type="button" (click)="eliminarNecesidad(i)">❌</button>
        </div>
    </div>

      <button type="submit">{{texts.guardar}}</button>

      <button type="button" class="cancel-button" (click)="cancelarEdicion()">{{texts.cancelar}}</button>
    </form>
  </div>
  