.removeNecesidadButton {
    padding: 0.75rem;
    background-color: #e65c4f;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s ease;
}

.removeNecesidadButton:hover {
    background-color: #d14b42;
}
  
.necesidad-item {
  background: #f2f2f2;
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.necesidad-item button{
  background: #f2f2f2;
}
  
.input-container {
  display: flex;
  gap: 10px; 
  align-items: center;
}
  
.input-container input {
  flex: 1;
}
  
.input-container button {
  background: #f2f2f2;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2em;
}

  

