<div class="container">
    <h2>Editar Niño</h2>
    <form (ngSubmit)="updateNino()">
      <label>Cédula (CI):</label>
      <input type="text" [(ngModel)]="nino.ci" name="ci" required>
      <label>Nombre:</label>
      <input type="text" [(ngModel)]="nino.nombre" name="nombre" required>
  
      <label>Fecha de Nacimiento:</label>
      <input type="date" [(ngModel)]="nino.fechaNacimiento" name="fechaNacimiento" required>
 
      <label>Necesidades:</label>
      
       <div class="input-container">
        <input type="text" [(ngModel)]="nuevaNecesidad" name="nuevaNecesidad" placeholder="Añadir necesidad">
        <button type="button" (click)="agregarNecesidad()">➕</button>
    </div>

     <div class="necesidades-lista">
        <div *ngFor="let necesidad of nino.necesidades; let i = index" class="necesidad-item">
            {{ necesidad }}
            <button type="button" (click)="eliminarNecesidad(i)">❌</button>
        </div>
    </div>

      <button type="submit">Guardar Cambios</button>

      <button type="button" class="cancel-button" (click)="cancelarEdicion()">Cancelar</button>
    </form>
  </div>
  