.card {
    &--signup-image-bg {
      position: relative;
      display: flex;
      flex-direction: column;
      min-height: 420px;
      width: 325px;
      border-radius: var(--border-radius-lg);
      box-shadow: var(--box-shadow-md);
      overflow: hidden;
      color: var(--color-neutral-base-black-dark-24);
  
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        z-index: 1;
      }

      &.bg-padrino::before {
        background-image: url('../../../../public/imgs/Padrino.png');
      }

      &.bg-encargado::before {
        background-image: url('../../../../public/imgs/Hogar.png');
      }

      &.bg-administrador::before {
        background-image: url('../../../../public/imgs/adminis.png');
      }
  
      .card__content {
        position: relative;
        z-index: 2;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
      }
  
      .card__title {
        font-size: 2rem;
        font-weight: var(--font-weight-bold);
        line-height: 1.2;
        margin-bottom: var(--space-lg);
        font-family: 'Segoe UI';
        color: var(--color-neutral-base-white);
      }
  
      .card__actions {
        position: relative;
        z-index: 2;
        width: 100%;
        margin-top: auto;
        padding-top: var(--space-md);
      }
  
      .btn {
        width: 100%;
        padding-top: var(--space-md);
        padding-bottom: var(--space-md);
        font-size: var(--font-size-lg);
      }
    }
    &--simple-text{
      background-color: rgba(255, 255, 255, 0.6);
      border-radius: 20px;
      max-width: 350px;
      flex: 1 1 300px;
      backdrop-filter: blur(4px);
      padding: 20px;
      h3 {
        font-size: 1.5rem;
        color: #333;
        margin-bottom: 10px;
      }
      p {
        font-size: 1rem;
        color: #444;
        text-align: left;
      }
  }
  &--form{
    background-color: var(--color-neutral-base-white);
    border-radius: 10px;
    padding-left: 120px;
    padding-right: 120px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 100%;
    justify-content: center;
    gap: 10px;
    p{
      text-align: left;
    }
  }

  &--scrollable-list {
    flex: 0 0 70%;
    background-color: var(--color-neutral-base-black-light-84);
    padding: 10px 10px;
    overflow-y: auto;
    height: 100%;
    width: 100%;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    // border-width: 1px;
    // border-color: #333;
    // border-style: solid;
  }

  &--general{
    width: 100%;
    height: 100%;
    padding: 15px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    background-color: var(--color-neutral-base-white);
  }
}