.field{
    &--column-elements{
        height: 100%;
        width: 100%;
        gap: 10px;
        display: flex;
        flex-direction: column;
    }
    &--row-elements{
        height: 100%;
        width: 100%;
        gap: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 120px;
        padding-right: 120px;
    }
    &--column-card-elements{
        height: 100%;
        width: 100%;
        gap: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: left;        
    }
    &--row-card-elements{
        height: 100%;
        width: 100%;
        gap: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}