.navbar {
    background-color: var(--color-neutral-base-black-dark-44);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    
    &__container {
        width: var(--container-width);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
  
    &__brand {
      .logo {
          height: 70px;
          width: auto;
          display: block;
      }
    }
  
    &__links {
        color: var(--color-neutral-base-black);
        text-decoration: none;
        transition: var(--transition-base);
        padding: var(--space-xs) 0;
        display: flex;
        align-items: center;
        list-style: none;
        gap: auto;
        li {
          width: 100%;
        }
        .btn--third-button{
          color: var(--color-neutral-base-white);
        }
    }
  
    &__actions {
       display: flex;
       align-items: center;
       gap: var(--space-md);
  
       .icon-notification {
          color: var(--color-text-light);
          &:hover { color: var(--color-primary-blue-disabled); }
          &--active { color: var(--color-primary-orange); }
       }
  
       .profile-placeholder {
          width: 32px;
          height: 32px;
          background-color: var(--color-secondary);
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          color: var(--color-text-secondary);
          font-size: var(--font-size-sm);
          cursor: pointer;
       }
    }

    .admin-foto {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        object-fit: cover;
      }
  }