<section class="dialog">
  <div class="header">
    <h1>{{ texts.detalleDonacionTitulo }}</h1>
    <button (click)="volverAHome()" class="btn btn--close-button" aria-label="Cerrar">
      <span class="icon" aria-hidden="true">&times;</span> 
    </button>
  </div>

  <div *ngIf="donacion" class="card--general">
    <div class="card--column-card-elements">
      <h5>{{ texts.detalleDonacionFecha }}</h5>
      <p>{{ donacion.fechaDonacion | date:'dd/MM/yyyy' }}</p>
      <h5>{{ texts.detalleDonacionMonto }}</h5>
      <p>${{ donacion.cantidadDonacion | number:'1.2-2' }}</p>
      <h5>{{ texts.detalleDonacionHogar }}</h5>
      <p>{{ donacion.encargado?.nombre_hogar }}</p>
      <h5 *ngIf="donacion.necesidadesSeleccionadas">{{ texts.detalleDonacionNecesidades }}</h5>
      <p>{{ donacion.necesidadesSeleccionadas }}</p>
      <h5 *ngIf="donacion.comentarioEncargado">{{ texts.detalleDonacionComentarioEncargado }}</h5>
      <p class="comentario">{{ donacion.comentarioEncargado?.comentario }}</p>
    </div>
  </div>
</section>