<header *ngIf="padrino">
    <nav class="navbar">
        <div class="navbar__container">
            <div class="navbar__brand">
                <a href="/"><img src="imgs/logo light variant.png" [alt]="texts.messageLogo" class="logo"></a>
            </div>
            <div class="navbar__links">
              <button class="btn btn--third-button" (click)="volverAHome()"> {{ texts.buttonHome }} </button>
                <img [src]="padrino.foto" 
                    alt="Foto del Encargado" 
                    class="admin-foto" />
                <button class="btn btn--third-button" (click)="irPerfil()"> {{ texts.buttonPerfil }} </button>
                <button class="btn btn--third-button" (click)="volver()"> Volver</button>
                <button class="btn btn--third-button" (click)="cerrarSesion()"> {{ texts.buttonSignOut }} </button>
            </div>
        </div>
    </nav>
</header>

<header *ngIf="encargado">
    <nav class="navbar">
        <div class="navbar__container">
            <div class="navbar__brand">
                <a href="/"><img src="imgs/logo light variant.png" [alt]="texts.messageLogo" class="logo"></a>
            </div>
            <div class="navbar__links">
              <button class="btn btn--third-button" (click)="volverAHome()"> {{ texts.buttonHome }} </button>
                <img [src]="encargado.foto" 
                    alt="Foto del Encargado" 
                    class="admin-foto" />
                <button class="btn btn--third-button" (click)="irPerfil()"> {{ texts.buttonPerfil }} </button>
                <button class="btn btn--third-button" (click)="volver()"> Volver</button>
                <button class="btn btn--third-button" (click)="cerrarSesion()"> {{ texts.buttonSignOut }} </button>
            </div>
        </div>
    </nav>
</header>

<div class="full-layout-section perfil-container">
    <div class="saludo">
        <h2>{{texts.mensajeChatAdministradores}}</h2>
    </div>
  <div class="administradores-grid">
    <div class="admin-card" *ngFor="let admin of administradores">
      <h3>{{ admin.nombre }}</h3>
      <button (click)="irChat(admin.id)">{{texts.chat}}</button>
    </div>
  </div>
</div>


<footer class="footer">
    <div id="footer-content" class="footer__vertical_container">
        <div class="footer__horizontal_container">
            <div class="footer__brand">
                <a href="/"><img src="imgs/logo light.png" [alt]="texts.messageLogo" class="logo"></a>
            </div>
            <div class="footer__contact-info">
                <div>
                    <p><b>Telefono</b></p>
                    <p>(123) 45678</p>
                </div>
                <div>
                    <p><b>Email</b></p>
                    <p>hopematch&#64;email.com</p>
                </div>
            </div>
        </div>
        <hr />
        <div class="footer__social_container">
            <div class="social-links">
                <button class="btn btn--third-button"> {{ texts.facebook }} </button>
                <button class="btn btn--third-button"> {{ texts.instragram }} </button>
                <button class="btn btn--third-button"> {{ texts.twitter }} </button>
            </div>
        </div>
    </div>
</footer>