
  
  .landing {
    background-image: url('../../../../public/imgs/Seccion\ Portada.png');
    background-size: cover;
    background-position: center;
  }
  
  .about-us {
    background-image: url("../../../assets/imgs/aboutUs_backgound.jpg");
    background-size:cover;
    background-position: center;
    color: var(--color-neutral-base-white);
    .about-columns {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 40px;
    }
    .about-text p{
      font-size: 1rem;
    }
  }
  
  .about-us::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-primary-base-dark-60);
    opacity: 0.7;
    z-index: 0;
  }
  
  .about-us > * {
    position: relative;
    z-index: 1;
  }

  .register-section {
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 3rem;
    background-color: var(--color-neutral-base-white);
    gap: 1rem;
  }

  .register-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-primary-base-dark-60);
    opacity: 0.2;
    z-index: 0;
  }