<header>
    <nav class="navbar">
        <div class="navbar__container">
            <div class="navbar__brand">
                <img src="imgs/logo light variant.png" [alt]="texts.messageLogo" class="logo">
            </div>
            <ul class="navbar__links">
            <li><button class="btn btn--third-button" routerLink="/">{{ texts.buttonHome }}</button></li>
            <button class="btn btn--third-button" (click)="scrollToSection('footer-content')">{{ texts.buttonContact }}</button>
            <li><button class="btn btn--third-button" [routerLink]="['/login']"> {{ texts.buttonLogIn }} </button></li>
            <li><button class="btn btn--primary-button" (click)="scrollToSection('register-section')"> {{ texts.buttonSignUp }} </button></li>
            </ul>
        </div>
    </nav>
</header>
    
    <section class="hero">
    <div class="hero-content">
        <h1 class="main-title">{{ texts.principalTittle }}</h1>
        <p class="subtitle">{{ texts.principalSlogan }}</p>
        <p class="dreams">{{ texts.secondoSolgan }}</p>
    </div>
    </section>
    
    <section id="register-section" class="register-section">
        <div class="register-card padrino">
            <h2>{{ texts.padrinoOption }}</h2>
            <img src="imgs/Padrino.png" [alt]="texts.padrinoOption">
            <button class="btn btn--primary-button" [routerLink]="['/crearpadrino']">{{ texts.buttonSignUp }}</button>
        </div>
        
        <div class="register-card hogar">
            <h2>{{ texts.encargadoOption }}</h2>
            <img src="imgs/Hogar.png" [alt]="texts.encargadoOption">
            <button class="btn btn--primary-button" [routerLink]="['/crearencargado']">{{ texts.buttonSignUp }}</button>
        </div>

        <div class="register-card admin">
            <h2>{{ texts.adminOption }}</h2>
            <img src="imgs/adminis.png" [alt]="texts.adminOption">
            <button class="btn btn--primary-button" [routerLink]="['/crear-administrador']">{{ texts.buttonSignUp }}</button>
        </div>
    </section>
    
<footer class="footer">
    <div id="footer-content" class="footer__vertical_container">
        <div class="footer__horizontal_container">
            <div class="footer__brand">
                <img src="imgs/logo light.png" [alt]="texts.messageLogo" class="logo">
            </div>
            <div class="footer__contact-info">
                <div>
                    <p><b>Telefono</b></p>
                    <p>(123) 45678</p>
                </div>
                <div>
                    <p><b>Email</b></p>
                    <p>hopematch&#64;email.com</p>
                </div>
            </div>
        </div>
        <hr />
        <div class="footer__social_container">
            <ul class="social-links">
                <li><button class="btn btn--third-button"> {{ texts.facebook }} </button></li>
                <li><button class="btn btn--third-button"> {{ texts.instragram }} </button></li>
                <li><button class="btn btn--third-button"> {{ texts.twitter }} </button></li>
            </ul>
        </div>
    </div>
</footer>