<header>
    <nav class="navbar">
        <div class="logo">
        <img src="imgs/hopematch-logo.png" [alt]="texts.messageLogo">
        </div>
        <ul class="nav-links">
        <li><a href="#">{{ texts.buttonHome }} </a></li>
        <li><a href="#about-us"> {{ texts.buttonAboutUs }} </a></li>
        <li><a href="#register-section"> {{ texts.buttonSignUp }} </a></li>
        <li><a [routerLink]="['/login']" style="color: #e65c4f;"> {{ texts.buttonLogIn }} </a></li>
        <li><a href="#footer-content"> {{ texts.buttonContact }} </a></li>
        </ul>
    </nav>
    </header>
    
    <section class="hero">
    <div class="hero-content">
        <h1 class="main-title">{{ texts.principalTittle }}</h1>
        <p class="subtitle">{{ texts.principalSlogan }}</p>
        <p class="dreams">{{ texts.secondoSolgan }}</p>
    </div>
    </section>

    <section id="about-us" class="about-us">
        <div class="about-content">
            <h2>{{ texts.aboutTitle }}</h2>
            <div class="about-text">
                <p>{{ texts.aboutDescription }}</p>
                <p>{{ texts.aboutDescription2 }}</p>
                <p>{{ texts.aboutDescription3 }}</p>
                <p>{{ texts.aboutDescription4 }}</p>
            </div>
          <div class="about-columns">
            <div class="about-column">
              <h3>{{ texts.aboutMissionTitle }}</h3>
              <p>{{ texts.aboutMissionText }}</p>
            </div>
            <div class="about-column">
              <h3>{{ texts.aboutVisionTitle }}</h3>
              <p>{{ texts.aboutVisionText }}</p>
            </div>
          </div>
        </div>
      </section>
    
    <section id="register-section" class="register-section">
        <div class="register-card padrino">
            <h2>{{ texts.padrinoOption }}</h2>
            <img src="imgs/Padrino.png" [alt]="texts.padrinoOption">
            <button class="register-btn" [routerLink]="['/crearpadrino']">{{ texts.buttonSignUp }}</button>
        </div>
        
        <div class="register-card hogar">
            <h2>{{ texts.encargadoOption }}</h2>
            <img src="imgs/Hogar.png" [alt]="texts.encargadoOption">
            <button class="register-btn" [routerLink]="['/crearencargado']">{{ texts.buttonSignUp }}</button>
        </div>

        <div class="register-card admin">
            <h2>{{ texts.adminOption }}</h2>
            <img src="imgs/adminis.png" [alt]="texts.adminOption">
            <button class="register-btn" [routerLink]="['/crear-administrador']">{{ texts.buttonSignUp }}</button>
        </div>
    </section>


<footer>
    <div id="footer-content" class="footer-content">
        <img src="imgs/hopematch-logo.png" [alt]="texts.messageLogo" class="footer-logo">
        <ul class="social-links">
        <li><a href="#"> {{ texts.facebook }} </a></li>
        <li><a href="#"> {{ texts.instragram }} </a></li>
        <li><a href="#"> {{ texts.twitter }} </a></li>
        </ul>
    </div>
</footer>