.login-container{
  background: var(--color-secondary-base);
  align-items: center;
  justify-content: left;
  gap: 300px;
  padding: 10px;
  .login-text{
    width: 100%;
    
  }
  .login-image{
    height: 100%;
  }
}