<div class="login-container">
    <div class="login-box">
      <img src="imgs/hopematch-logo.png" [alt]="texts.messageLogo" class="logo">
      <form (ngSubmit)="onLogin()">
        <div class="input-group">
          <i class="fa fa-user"></i>
          <input type="email" [placeholder]="texts.inputEmail" name="email" [(ngModel)]="email" required>
        </div>
        
        <div class="input-group">
          <i class="fa fa-lock"></i>
          <input type="password" [placeholder]="texts.inputPassword" name="password" [(ngModel)]="password" required>
        </div>
  
        <div class="input-group">
          <select [(ngModel)]="userType" name="userType">
            <option value="Padrino"> {{ texts.userPadrino }} </option>
            <option value="Encargado"> {{ texts.userEncargado }} </option>
          </select>             
        </div>
  
        <button type="submit" class="login-btn"> {{ texts.buttonLogIn }} </button>
      </form>
    </div>
</div>