<div class="login-form">
    <h2>Inicio de sesión</h2>
    <form (ngSubmit)="onLogin()">
      <div>
        <label for="email">Correo electrónico</label>
        <input type="email" name="email" [(ngModel)]="email" required>
      </div>
      <div>
        <label for="password">Contraseña</label>
        <input type="password" name="password" [(ngModel)]="password" required>
      </div>
      <div>
        <label for="userType">Tipo de usuario</label>
        <select [(ngModel)]="userType" name="userType">
          <option value="Padrino">Padrino</option>
          <option value="Encargado">Encargado del hogar</option>
        </select>
      </div>
      <button type="submit">Login</button>
    </form>
  </div>
  