<header *ngIf="encargado">
    <nav class="navbar">
        <div class="navbar__container">
            <div class="navbar__brand">
                <a href="/"><img src="imgs/logo light variant.png" [alt]="texts.messageLogo" class="logo"></a>
            </div>
            <div class="navbar__links">
              <button class="btn btn--third-button" (click)="volverHome()"> {{ texts.buttonHome }} </button>
              <button class="btn btn--third-button" (click)="irAdministradores()"> {{texts.buttonSoporte}}</button>
              <img [src]="encargado.foto" 
                  alt="Foto del Encargado" 
                  class="admin-foto" />
              <button class="btn btn--third-button" (click)="irPerfil()"> {{ texts.buttonPerfil }} </button>
              <button class="btn btn--third-button" (click)="cerrarSesion()"> {{ texts.buttonSignOut }} </button>
            </div>
        </div>
    </nav>
</header>

<div class="full-layout-section" *ngIf="encargado">
  <div class="container">
      <h1>Mi hogar</h1>
      <div class="hogar-container">
        <img [src]="encargado.foto_hogar" [alt]="encargado.nombre_hogar" class="hogar-img">
        <div class="hogar-info">
          <h2>{{encargado.nombre_hogar}}</h2>
          <p><strong>Descripción:</strong>  {{encargado.descripcion}}  </p>
          <p><strong>Número de niños:</strong> {{ encargado.ninos?.length || 0 }}</p>
          <button class="btn btn--secondary-button" (click)="irEditarPerfil()">{{texts.editar}}</button>
          <button class="btn btn--primary-button" (click)="irMisNinos()">Mis niños</button>
        </div>
      </div>
    
      <h2>Necesidades de mi hogar</h2>
    
      <div class="necesidades-container">
          <div class="necesidades">
              <div *ngFor="let necesidad of necesidades">
                  <div class="necesidad" style="color: black;">{{necesidad.nombre}}</div>
              </div>
          </div>
      </div>
    </div>
</div>

<footer class="footer">
    <div id="footer-content" class="footer__vertical_container">
        <div class="footer__horizontal_container">
            <div class="footer__brand">
                <a href="/"><img src="imgs/logo light.png" [alt]="texts.messageLogo" class="logo"></a>
            </div>
            <div class="footer__contact-info">
                <div>
                    <p><b>Telefono</b></p>
                    <p>(123) 45678</p>
                </div>
                <div>
                    <p><b>Email</b></p>
                    <p>hopematch&#64;email.com</p>
                </div>
            </div>
        </div>
        <hr />
        <div class="footer__social_container">
            <div class="social-links">
                <button class="btn btn--third-button" onclick="window.open('https://www.facebook.com/diegoalejandro.canedoballesteros', '_blank')"> {{ texts.facebook }} </button>
                <button class="btn btn--third-button" onclick="window.open('https://www.instagram.com/diegodenac/', '_blank')"> {{ texts.instragram }} </button>
                <button class="btn btn--third-button" onclick="window.open('https://x.com/Diegodenac', '_blank')"> {{ texts.twitter }} </button>
            </div>
        </div>
    </div>
</footer>