.register-section{
  background: var(--color-secondary-base);
  align-items: center;
  justify-content: left;
  position: inherit;
  
  padding: 10px 0px 10px 10px;
  .register-text{
    width: 100%;
  }
  .register-image{
    position: inherit;
    width: 50%;
  }
}

html, body {
  height: 100%; // importante
  overflow: hidden; // evita scroll fuera del section
}