<section class="full-layout-section register-section">
  <form (ngSubmit)="registrarAdministrador()" class="card--form">
    <div class="footer__brand">
      <img src="imgs/logo light variant.png" [alt]="texts.messageLogo" class="logo">
    </div>
    <div class="register-text">
      <h4> {{ texts.principalMessageAdmin }} </h4>
    </div>
    <div class="input-group">
      <input type="text" id="nombre" [placeholder]="texts.inputName" [(ngModel)]="administrador.nombre" name="nombre" class="input-field" required>
    </div>
    <div class="input-group">
      <input type="email" id="email" [placeholder]="texts.inputEmail" [(ngModel)]="administrador.email" name="email" class="input-field" required>
    </div>

    <div class="input-group">
      <input type="password" id="password" [placeholder]="texts.inputPassword" [(ngModel)]="administrador.contrasenia" name="contrasenia" class="input-field" required>
    </div>

    <button type="submit" class="btn btn--primary-button"> {{ texts.buttonSignUp }} </button>
    <button type="button" class="btn btn--cancel-button" (click)="cancelarRegistro()">{{texts.cancelar}}</button>
  </form>

  <img class="register-image" src="imgs/RegisterAdmin.png" alt="Hola">
</section>