<div class="gestion-engargados-container">
    <div class="home-admin-header">
        <img src="imgs/hopematch-logo.png" alt="HopeMatch Logo" class="logo">
        <nav class="admin-nav">
            <a (click)="irHogaresSuspendidos()" style="color: #3f51b5; cursor: pointer;">{{ texts.hogaresSuspendidos }}</a>
            <a (click)="volverHome()" style="color: #3f51b5; cursor: pointer;">{{ texts.volverHome }}</a>
            <a (click)="cerrarSesion()" style="color: #3f51b5; cursor: pointer;">{{ texts.buttonCerrarSesion }}</a>
        </nav>
    </div>

    <div class="saludo">
        <h2>{{ texts.saludoHogaresRegistrados }}</h2>
    </div>

    <div class="encargados-field-doble">
        <div class="estado-columna">
        <h3>{{ texts.estadoEnRevision }}</h3>
        <div class="encargados-lista">
            <div class="encargado-card" *ngFor="let encargado of encargadosEnRevision">
                <div class="encargado-info">
                    <div class="encargado-foto">
                    <img [src]="encargado.foto_hogar " alt="Foto del Hogar" />
                    </div>
                    <div class="encargado-detalles">
                    <h3>{{ encargado.nombre_hogar }}</h3>
                    <div class="admin-info">
                        <span>{{ texts.administradoPor }}</span>
                        <img [src]="encargado.foto" 
                            alt="Foto del Encargado" 
                            class="admin-foto" />
                        <p>{{ encargado.nombre }}</p>
                    </div>
                    <p class="descripcion-hogar">{{ encargado.descripcion || 'Sin descripcion'}}</p>
                    <p *ngIf="encargado.necesidades && encargado.necesidades.length">
                        <strong>{{ texts.necesidades }} </strong>{{ getNecesidadesAsString(encargado) }}
                    </p>
                    <p *ngIf="!encargado.necesidades || !encargado.necesidades.length">
                        <strong>{{ texts.noHayNecesidadesRegistradas }}</strong>
                    </p>
                    <p><strong>{{ texts.ninos }} </strong> {{ encargado.ninos?.length || 0 }}</p>
                    <button class="btn-ver-perfil" (click)="verDetalles(encargado.id)">{{ texts.verDetalles }}</button>
                    <button class="btn-aprobar" (click)="aprobarHogar(encargado)">{{ texts.aprobar }}</button>
                    <button class="btn-rechazar" (click)="rechazarHogar(encargado)">{{ texts.rechazar }}</button>
                    <button class="btn-chat" (click)="irChat(encargado.id)">{{texts.chat}}</button>
                    </div>
                </div>
            </div>
        </div>
        </div>
    
        <div class="estado-columna">
          <h3>{{ texts.estadoAprobados }}</h3>
          <div class="encargados-lista">
            <div class="encargado-card" *ngFor="let encargado of encargadosAprobados">
                <div class="encargado-info">
                    <div class="encargado-foto">
                    <img [src]="encargado.foto_hogar " alt="Foto del Hogar" />
                    </div>
                    <div class="encargado-detalles">
                    <h3>{{ encargado.nombre_hogar }}</h3>
                    <div class="admin-info">
                        <span>{{ texts.administradoPor }} </span>
                        <img [src]="encargado.foto" 
                            alt="Foto del Encargado" 
                            class="admin-foto" />
                        <p>{{ encargado.nombre }}</p>
                    </div>
                    <p class="descripcion-hogar">{{ encargado.descripcion || 'Sin descripcion'}}</p>
                    <p *ngIf="encargado.necesidades && encargado.necesidades.length">
                        <strong>{{ texts.necesidades}} </strong>{{ getNecesidadesAsString(encargado) }}
                    </p>
                    <p *ngIf="!encargado.necesidades || !encargado.necesidades.length">
                        <strong>{{ texts.noHayNecesidadesRegistradas }}</strong>
                    </p>
                    <p><strong>{{ texts.ninos }} </strong> {{ encargado.ninos?.length || 0 }}</p>
                    <button class="btn-ver-perfil" (click)="verDetalles(encargado.id)">{{ texts.verDetalles }}</button>
                    <button class="btn-suspender" (click)="suspenderHogar(encargado)">{{ texts.suspender }}</button>
                    <button class="btn-chat" (click)="irChat(encargado.id)">{{texts.chat}}</button>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>