<div class="home-admin-header">
    <div class="header-content">
      <img src="imgs/hopematch-logo.png" [alt]="texts.messageLogo" class="logo">
      <h1>{{texts.padrinosSuspendidos}}</h1>
    </div>
    <nav class="admin-nav">
      <a (click)="volverAGestion()" class="nav-link">{{texts.volverAGestion}}</a>
    </nav>
  </div>
  
  <div class="container">
    <div *ngIf="isLoading" class="loading">
      <p>{{texts.cargandoCuentasSuspendidas}}</p>
    </div>
  
    <div *ngIf="!isLoading" class="cards-container">
      <div *ngIf="padrinosSuspendidos.length === 0" class="empty-message">
        {{texts.noCuentasSuspendidas}}
      </div>
  
      <div *ngFor="let padrino of padrinosSuspendidos" class="card">
        <img [src]="padrino.foto" [alt]="texts.altFotoPerfil" class="profile-img">
        <div class="info">
          <h3>{{ padrino.nombre }}</h3>
          <p><strong>{{texts.inputEditPhone}}</strong> {{ padrino.celular }}</p>
          <p><strong>{{texts.inputEditEmail}}</strong> {{ padrino.email }}</p>
        </div>
        <div class="actions">
          <button (click)="ponerEnRevision(padrino)" class="btn-revision">
            {{texts.enviarARevision}}
          </button>
          <button class="btn-chat" (click)="irChat(padrino.id)">{{texts.chat}}</button>
        </div>
      </div>
    </div>
  </div>