<section class="expanded-layout-section register-section">
    <form (ngSubmit)="registrarEncargado()" class="card--form">
      <div class="footer__brand">
        <img src="imgs/logo light variant.png" [alt]="texts.messageLogo" class="logo">
      </div>
      <div class="register-text">
        <h4> {{ texts.principalMessageEncargado }} </h4>
        <p>{{ texts.formEncargadoDescripcionResguardo }}</p>
      </div>
      <div class="input-group">
        <input type="text" id="nombre" [placeholder]="texts.inputName" [(ngModel)]="encargado.nombre" name="nombre" class="input-field" required>
      </div>

      <div class="input-group">
        <input type="email" id="email" [placeholder]="texts.inputEmail" [(ngModel)]="encargado.email" name="email" class="input-field" required>
      </div>

      <div class="input-group">
        <input type="text" id="celular" [placeholder]="texts.inputCellPhone" [(ngModel)]="encargado.celular" name="celular" class="input-field" required>
      </div>

      <div class="input-group">
        <input type="text" id="foto" [placeholder]="texts.inputPhoto" [(ngModel)]="encargado.foto" name="foto" class="input-field">
      </div>

      <div class="input-group">
        <input type="text" id="hombre_hogar" [placeholder]="texts.inputHogarName" [(ngModel)]="encargado.nombre_hogar" name="foto" class="input-field">
      </div>

      <div class="input-group">
        <input type="text" id="direccion_hogar" [placeholder]="texts.inputDireccion" [(ngModel)]="encargado.direccion_hogar" name="foto" class="input-field">
      </div>

      <div class="input-group">
        <input type="text" id="foto_hogar" [placeholder]="texts.inputHogarFoto" [(ngModel)]="encargado.foto_hogar" name="foto_hogar" class="input-field">
      </div>

      <div class="input-group">
        <textarea 
          type="text"
          id="descripcion_hogar"
          [(ngModel)]="encargado.descripcion" 
          name="descripcion_hogar" 
          maxlength="500"
          class="textarea-descripcion"
          [placeholder]="texts.inputDescripcion" class="input-field">
        </textarea>
      </div>
      <p>{{ encargado.descripcion.length || 0 }} {{ texts.inputDescripcionContador }}</p>

      <div class="input-group input-group--icon-right">
          <input [type]="mostrarContrasenia ? 'text' : 'password'"
                  [(ngModel)]="encargado.contrasenia"
                  name="password"
                  [placeholder]="texts.inputPassword"
                  class="input-field" required>
          <div class="input-group-icon icon-right" (click)="mostrarContrasenia = !mostrarContrasenia">
            <img *ngIf="!mostrarContrasenia" src="imgs/noview_icon.png" alt="texts.placeholderMostrar" style="width: 20px; height: 20px;">
            <img *ngIf="mostrarContrasenia" src="imgs/view_icon.png" alt="texts.placeholderOcultar" style="width: 20px; height: 20px;">
          </div>
      </div>

      <button type="submit" class="btn btn--primary-button"> {{ texts.buttonSignUp }} </button>
      <button type="button" class="btn btn--cancel-button" (click)="cancelarRegistro()">{{texts.cancelar}}</button>
    </form>

    <img class="register-image" src="imgs/RegisterPicture.png" alt="Hola">
</section>