.textarea-descripcion {
    width: 100%;
    min-height: 120px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    resize: vertical;
    box-sizing: border-box;
    background-color: #fff;
    color: #333;
  }

  p{
    margin: 5px 5px;
  }