<div class="container">
    <h2 style="color: #e65c4f;">Editar Encargado</h2>
    <form (ngSubmit)="updateEncargado()">
      <label>Nombre:</label>
      <input type="text" [(ngModel)]="encargado.nombre" name="nombre" required>
  
      <label>Celular:</label>
      <input type="number" [(ngModel)]="encargado.celular" name="celular" required>
  
      <label>Email:</label>
      <input type="email" [(ngModel)]="encargado.email" name="email" disabled>
  
      <label>Foto URL:</label>
      <input type="text" [(ngModel)]="encargado.foto" name="foto">
  
      <label>Contraseña:</label>
      <input type="password" [(ngModel)]="encargado.contrasenia" name="contrasenia">
  
      <label>Nombre del Hogar:</label>
      <input type="text" [(ngModel)]="encargado.nombre_hogar" name="nombre_hogar" disabled>
  
      <label>Dirección del Hogar:</label>
      <input type="text" [(ngModel)]="encargado.direccion_hogar" name="direccion_hogar" required>
  
      <label>Foto del Hogar URL:</label>
      <input type="text" [(ngModel)]="encargado.foto_hogar" name="foto_hogar">

      <label for="descripcion_hogar">Descripción del Hogar:</label>
      <textarea 
        id="descripcion_hogar"
        [(ngModel)]="encargado.descripcion" 
        name="descripcion_hogar" 
        maxlength="500"
        class="textarea-descripcion"
        placeholder="Escribe una descripción detallada del hogar (máx. 500 caracteres)">
      </textarea>
      <p>{{ encargado.descripcion?.length || 0 }}/500 caracteres</p>

      <button type="submit" class="primary-button">Guardar Cambios</button>

      <button type="button" class="secondary-button" (click)="eliminarEncargado()">Eliminar Cuenta</button>

      <button type="button" class="cancel-button" (click)="cancelarEdicion()">{{texts.cancelar}}</button>
    </form>
  </div>
  