<form (ngSubmit)="updateEncargado()" class="dialog--form-scrollable">
  <h2>{{ texts.editarEncargadoTitulo }}</h2>
  <div class="input-group">
    <label>{{ texts.inputEditName }}</label>
    <input type="text" [(ngModel)]="encargado.nombre" name="nombre" class="input-field" required>
  </div>

  <div class="input-group">
    <label>{{ texts.inputEditPhone }}</label>
    <input type="number" [(ngModel)]="encargado.celular" name="celular" class="input-field" required>
  </div>

  <div class="input-group">
    <label>{{ texts.inputEditEmail }}</label>
    <input type="email" [(ngModel)]="encargado.email" name="email" class="input-field" disabled>
  </div>

  <div class="input-group">
    <label>{{ texts.inputEditLabelPhoto }}</label>
    <input type="text" [(ngModel)]="encargado.foto" name="foto" class="input-field">
  </div>

  <label>{{ texts.editarEncargadoLabelNuevaContrasenia }}</label>
  <div class="input-group input-group--icon-right">
    <div style="position: relative;">
        <input [type]="mostrarContrasenia ? 'text' : 'password'"
                [(ngModel)]="nuevaContrasenia"
                name="nuevaContrasenia"
                [placeholder]="texts.editarEncargadoPlaceholderContrasenia"
                style="width: 100%; padding-right: 2.5rem;" class="input-field">
        <button type="button"
                (click)="mostrarContrasenia = !mostrarContrasenia"
                style="position: absolute; right: 0.5rem; top: 50%; transform: translateY(-50%);
                        border: none; background: transparent; cursor: pointer; font-size: 1rem;">
            <img *ngIf="!mostrarContrasenia" src="imgs/noview_icon.png" alt="Mostrar" style="width: 20px; height: 20px;">
            <img *ngIf="mostrarContrasenia" src="imgs/view_icon.png" alt="Ocultar" style="width: 20px; height: 20px;">
        </button>
      </div>
    </div>

  <div class="input-group">
    <label>{{ texts.editarEncargadoLabelNombreHogar }}</label>
    <input type="text" [(ngModel)]="encargado.nombre_hogar" name="nombre_hogar" disabled class="input-field">
  </div>

  <div class="input-group">
    <label>{{ texts.editarEncargadoLabelDireccionHogar }}</label>
    <input type="text" [(ngModel)]="encargado.direccion_hogar" name="direccion_hogar" class="input-field" required>
  </div>

  <div class="input-group">
    <label>{{ texts.editarEncargadoLabelFotoHogar }}</label>
    <input type="text" [(ngModel)]="encargado.foto_hogar" name="foto_hogar" class="input-field">
  </div>

  <div class="input-group">
    <label for="descripcion_hogar">{{ texts.editarEncargadoLabelDescripcionHogar }}</label>
  <textarea 
    id="descripcion_hogar"
    [(ngModel)]="encargado.descripcion" 
    name="descripcion_hogar" 
    maxlength="500"
    class="textarea-descripcion"
    [placeholder]="texts.editarEncargadoPlaceholderDescripcionHogar">
  </textarea>
  <p>{{ encargado.descripcion?.length || 0 }}{{ texts.inputDescripcionContador }}</p>
  </div>

  <button type="submit" class="btn btn--primary-button">{{ texts.guardar }}</button>

  <button type="button" class="btn btn--secondary-button" (click)="eliminarEncargado()">{{ texts.eliminarCuenta }}</button>

  <button type="button" class="btn btn--cancel-button" (click)="cancelarEdicion()">{{texts.cancelar}}</button>
</form>