<div class="container">
    <h2 style="color: #e65c4f;">Editar Encargado</h2>
    <form (ngSubmit)="updateEncargado()">
      <label>Nombre:</label>
      <input type="text" [(ngModel)]="encargado.nombre" name="nombre" required>
  
      <label>Celular:</label>
      <input type="number" [(ngModel)]="encargado.celular" name="celular" required>
  
      <label>Email:</label>
      <input type="email" [(ngModel)]="encargado.email" name="email" required>
  
      <label>Foto URL:</label>
      <input type="text" [(ngModel)]="encargado.foto" name="foto">
  
      <label>Contraseña:</label>
      <input type="password" [(ngModel)]="encargado.contrasenia" name="contrasenia">
  
      <label>Nombre del Hogar:</label>
      <input type="text" [(ngModel)]="encargado.nombre_hogar" name="nombre_hogar" required>
  
      <label>Dirección del Hogar:</label>
      <input type="text" [(ngModel)]="encargado.direccion_hogar" name="direccion_hogar" required>
  
      <button type="submit" class="primary-button">Guardar Cambios</button>

      <button type="button" class="secondary-button" (click)="eliminarEncargado()">Eliminar Cuenta</button>
    </form>
  </div>
  