.register-container{
  background: var(--color-secondary-base);
  align-items: center;
  justify-content: left;
  position: inherit;
  
  padding: 10px 0px 10px 10px;
  .register-text{
    width: 100%;
  }
  .register-image{
    position: inherit;
    width: 100%;
    height: 100%;
  }
}

body {
  overflow: hidden;
}