<div class="registro-container">
  <div class="form-card">
    <div class="header">
      <img src="imgs/hopematch-logo.png" alt="HopeMatch Logo" class="logo">
      <h2>Nuevo Perfil de Padrino</h2>
    </div>
    <form (ngSubmit)="registrarPadrino()">
      <div class="input-group">
        <input type="text" id="nombre" placeholder="Nombre" [(ngModel)]="padrino.nombre" name="nombre" required>
      </div>

      <input type="email" id="email" placeholder="Email" [(ngModel)]="padrino.email" name="email" required>

      <input type="text" id="celular" placeholder="Numero de Celular" [(ngModel)]="padrino.celular" name="celular" required>

      <input type="text" id="foto" placeholder="Url Foto" [(ngModel)]="padrino.foto" name="foto">

      <input type="password" id="password" placeholder="Password" [(ngModel)]="padrino.contrasenia" name="contrasenia" required>

      <button type="submit" class="submit-btn">Sign Up</button>
    </form>
  </div>
</div>
