<div class="registro-container">
  <div class="form-card">
    <div class="footer__brand">
      <img src="imgs/logo light variant.png" [alt]="texts.messageLogo" class="logo">
    </div>
    <div class="header">
      <h2> {{ texts.principalMessageEncargado }} </h2>
    </div>
    <form (ngSubmit)="registrarPadrino()">
      <div class="input-group">
        <input type="text" id="nombre" [placeholder]="texts.inputName" [(ngModel)]="padrino.nombre" name="nombre" required>
      </div>

      <div class="input-group">
        <input type="email" id="email" [placeholder]="texts.inputEmail" [(ngModel)]="padrino.email" name="email" required>
      </div>

      <div class="input-group">
        <input type="text" id="celular" [placeholder]="texts.inputCellPhone" [(ngModel)]="padrino.celular" name="celular" required>
      </div>

      <div class="input-group">
        <input type="text" id="foto" [placeholder]="texts.inputPhoto" [(ngModel)]="padrino.foto" name="foto">
      </div>

      <div class="input-group">
        <input type="password" id="password" [placeholder]="texts.inputPassword" [(ngModel)]="padrino.contrasenia" name="contrasenia" required>
      </div>

      <button type="submit" class="btn btn--primary-button"> {{ texts.buttonSignUp }} </button>
    </form>
  </div>
</div>
