.home-padrino {
    flex-direction: column;
    justify-content: start;
    padding-top: 80px;
  }

  .amount-block{
    align-items: center;
    width: 60%;
  }

  .grettings-text {
    text-align: center;
    color: var(--color-primary-base-dark-60);
    margin-bottom: 10px;
    h2{
      margin-bottom: 4px;
    }
    h5{
      margin-top: 0;
      color: var(--color-primary-base-dark-72);
    }
  }
  .admin-foto {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        object-fit: cover;
      }

  .encargado-foto {
    width: 50%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .encargado-info{
    width: 80%;
  }

  .hogar{
    max-height: 300px;
  }

  .donacion{
    max-height: 200px;
  }