
  <header *ngIf="padrino">
    <nav class="navbar">
        <div class="navbar__container">
            <div class="navbar__brand">
                <a href="/"><img src="imgs/logo light variant.png" [alt]="texts.messageLogo" class="logo"></a>
            </div>
            <div class="navbar__links">
              <button class="btn btn--third-button" (click)="irAdministradores()"> Chat con Administradores</button>
                <img [src]="padrino.foto" 
                    alt="Foto del Encargado" 
                    class="admin-foto" />
                <button class="btn btn--third-button" (click)="irPerfil()"> {{ texts.buttonPerfil }} </button>
                <button class="btn btn--third-button" (click)="cerrarSesion()"> {{ texts.buttonSignOut }} </button>
            </div>
        </div>
    </nav>
</header>

<section class="full-layout-section home-padrino" *ngIf="padrino">
  <div class="grettings-text">
    <h2>Hola {{ padrino.nombre }}, ¿qué quieres hacer hoy?</h2>
    <h5>Tu ayuda es su esperanza. Dona ahora.</h5>
  </div>

  <div class="field--row-elements">

    <div class="field--column-elements">
      <h5 style="color: var(--color-primary-base-dark-60);">Tus donaciones</h5>
      <div class="card--scrollable-list">
        <div *ngIf="donaciones.length === 0" class="card--general">
          <p>Aun no has realizado donaciones</p>
          <p>En el panel de la derecha busca un hogar y regala una esperanza.</p>
        </div>
        <div class="card--general" *ngFor="let donacion of donaciones">
          <div class="field--row-card-elements">
            <div class="field--column-card-elements">
              <div class="field--column-card-elements">
                <p><strong>Fecha: </strong>{{ donacion.fechaDonacion | date:'dd/MM/yyyy' }}</p>
                <p><strong>Para: </strong>  {{ getEncargadoName(donacion.encargado.id) }} </p>
                <p *ngIf="donacion.necesidadesSeleccionadas"> <strong>Necesidad: </strong> {{ donacion.necesidadesSeleccionadas }} </p>
              </div>
              <div class="field--row-card-elements">
                <button class="btn btn--secondary-button" (click)="verDetallesDonacion(donacion.id)">Ver detalles</button>
                <button class="btn btn--secondary-button" [disabled]="!haDonadoA(donacion.encargado.id)" (click)="verHogar(donacion.encargado.id)">Ver Hogar</button>
              </div>
            </div>
            <hr>
            <div class="field--column-card-elements amount-block">
              <p>${{ donacion.cantidadDonacion |  number:'1.2-2' }}</p>
              <button class="btn btn--primary-button" (click)="irARegistroDonacion(padrino.id, donacion.encargado.id)">Volver a Donar</button>
            </div>
          </div>
          
        </div> 
      </div>
    </div>

    <div class="field--column-elements">
      <div class="input-group">
        <input class="input-field" type="text" [(ngModel)]="busqueda" placeholder="Buscar Hogar..." />
      </div>
      <div class="card--scrollable-list">
        <div class="card--general" *ngFor="let encargado of encargadosFiltrados()">
          <div class="field--row-card-elements">
            <div class="encargado-foto">
              <img [src]="encargado.foto_hogar " alt="Foto del Hogar" />
            </div>
            <div class="field--column-card-elements">
              <h5>{{ encargado.nombre_hogar }}</h5>

              <div class="field--row-card-elements encargado-info">
                <span>Administrado por </span>
                <img [src]="encargado.foto" 
                    alt="Foto del Encargado" 
                    class="admin-foto" />
                <p>{{ encargado.nombre }}</p>
              </div>
              <p class="descripcion-hogar">{{ encargado.descripcion || 'Sin descripcion'}}</p>
              <p *ngIf="encargado.necesidades && encargado.necesidades.length">
                <strong>Necesidades: </strong>{{ getNecesidadesAsString(encargado) }}
              </p>
              <p *ngIf="!encargado.necesidades || !encargado.necesidades.length">
                <strong>No hay necesidades registradas.</strong>
              </p>
    
              <p><strong>Niños: </strong> {{ encargado.ninos?.length || 0 }}</p>
              <div class="field--row-card-elements">
                <button class="btn btn--secondary-button" [disabled]="!haDonadoA(encargado.id)" (click)="verHogar(encargado.id)">Ver Hogar</button>
                <button class="btn btn--primary-button" (click)="irARegistroDonacion(padrino.id, encargado.id)">Donar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="footer">
    <div id="footer-content" class="footer__vertical_container">
        <div class="footer__horizontal_container">
            <div class="footer__brand">
                <a href="/"><img src="imgs/logo light.png" [alt]="texts.messageLogo" class="logo"></a>
            </div>
            <div class="footer__contact-info">
                <div>
                    <p><b>Telefono</b></p>
                    <p>(123) 45678</p>
                </div>
                <div>
                    <p><b>Email</b></p>
                    <p>hopematch&#64;email.com</p>
                </div>
            </div>
        </div>
        <hr />
        <div class="footer__social_container">
            <div class="social-links">
                <button class="btn btn--third-button"> {{ texts.facebook }} </button>
                <button class="btn btn--third-button"> {{ texts.instragram }} </button>
                <button class="btn btn--third-button"> {{ texts.twitter }} </button>
            </div>
        </div>
    </div>
</footer>